/* Hide 'Show navigation menu' */
#page_show_navigation_menu_input {
	display: none;
}

/* Always show 'Advanced Options' */
/*
.advancedPageOption {
	display: list-item !important;
}
div.advOption {
	cursor: default !important;
}
*/

/* Hide SEO section title */
.advancedPageOption .memberSetting:first-of-type {
	display: none !important;
}

/* Hide warning about CSS/Javascript editing and instructions */
.message-inputs,
label[for="page_css"],
label[for="page_javascript"] {
	display: none !important;
}